header{
    height: 73px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    position: fixed;
    z-index: 1;
    top: 0;
   
background-color: rgb(5, 1, 196);
}

.header{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}


img{
    border-color: rgb(5, 1, 196);
    border-width: 6px;
    border-style: double;
    border-radius: 63%;
    
}

a{
    color: rgb(5, 1, 196);
    margin: right 50%; ;
}
th{
     border-color: rgb(5, 1, 196);
    border-width: 6px;
    border-style: double;
    border-radius: 63;
    
    
    
}

ul{
    border-color: rgb(5, 1, 196);
    border-width: 13px;
    border-style: outset;
    border-radius: 63;
    background-image: url(https://media.tenor.com/FZO40NgtprIAAAAM/my-hero-academia-shoto-todoroki.gif);
}

table{
    border-color: rgb(5, 1, 196);
    border-width: 6px;
    border-style: double;
    border-radius: 63;
    background-image: url(https://64.media.tumblr.com/cce4fd209e0e8a3b59e46681c61efa84/7a70d480336e4c16-f2/s540x810/6054bad20aabfcc0132ef0b8e3b707bbef268425.gif);
}
li{
    border-color: rgb(5, 1, 196);
    border-width: 1px;
    border-style: double;
    border-radius: 33;
}
td{
    border-color: rgb(5, 1, 196);
    border-width: 3px;
    border-style: double;
    border-radius: 63;
}
 #v1{
      border-color: rgb(5, 1, 196);
    border-width: 3px;
    border-style: double;
    border-radius: 63;
    margin: 53px;
 }
